<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Conexion Produccion-->
    <!--<add name="CadenaConexion" providerName="System.Data.ProviderName" connectionString="ServerType=0;User=SYSDBA;Password=masterkey;Size=8192;Dialect=3;Pooling=TRUE;Port=3050;Charset=NONE;ConnectionLifeTime=15;MaxPoolSize=15;MinPoolSize=0;ClientLibrary=fbclient.dll;DataSource=desktop;database=C:\SystemDB\SUPERPACK.GDB" />-->
    
    <!--Conexion Desarrollo-->
    <add name="CadenaConexion" providerName="System.Data.ProviderName" connectionString="ServerType=0;User=SYSDBA;Password=masterkey;Size=8192;Dialect=3;Pooling=TRUE;Port=3050;Charset=NONE; ConnectionLifeTime=15;MaxPoolSize=15;MinPoolSize=0;ClientLibrary=fbclient.dll;DataSource=localhost;database=C:\Users\DavidAlexander\Documents\Proyectos\SystemDB\SUPERPACK.GDB" />
  </connectionStrings>
  <appSettings>
    <add key="Folder" value="C:\Reportes" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>